In [1]:
import pandas as pd
import numpy as np
!gdown --id 1FTchMsKIrs94vxoAjE5dR1e-GJAFHYWc

Downloading...
From: https://drive.google.com/uc?id=1FTchMsKIrs94vxoAjE5dR1e-GJAFHYWc
To: /content/SOD22_dataset.csv
100% 7.98M/7.98M [00:00<00:00, 29.2MB/s]

In [3]:
data = pd.read_csv('/content/SOD22_dataset.csv')
data = data.rename(columns = {"tweet":"text"})
data.head()

             id  ... confidence_score
0  1.622571e+10  ...            0.647
1  2.951188e+10  ...            1.000
2  5.290000e+17  ...            1.000
3  6.540000e+17  ...            1.000
4  8.600000e+17  ...            1.000

[5 rows x 8 columns]

In [4]:
data_0 = data[data['target'] == 0]
data_1 = data[data['target'] == 1]
data_2 = data[data['target'] == 2]
data_3 = data[data['target'] == 3]

print(len(data)==(len(data_0)+len(data_1)+len(data_2)+len(data_3)))

True

In [5]:
from sklearn.model_selection import train_test_split
def train_validate_test_split(df, seed = 7):
    train, valtest = train_test_split(df, test_size=0.4, random_state = seed)
    val, test = train_test_split(valtest, test_size = 0.5, random_state = seed)
    return train, val, test

train_df_0, valid_df_0, test_df_0 = train_validate_test_split(data_0)
train_df_1, valid_df_1, test_df_1 = train_validate_test_split(data_1)
train_df_2, valid_df_2, test_df_2 = train_validate_test_split(data_2)
train_df_3, valid_df_3, test_df_3 = train_validate_test_split(data_3)


train_df = pd.DataFrame()
train_df = train_df.append(train_df_0, ignore_index=True)
train_df = train_df.append(train_df_1, ignore_index=True)
train_df = train_df.append(train_df_2, ignore_index=True)
train_df = train_df.append(train_df_3, ignore_index=True)
train_df = train_df.sample(frac=1)

valid_df = pd.DataFrame()
valid_df = valid_df.append(valid_df_0, ignore_index=True)
valid_df = valid_df.append(valid_df_1, ignore_index=True)
valid_df = valid_df.append(valid_df_2, ignore_index=True)
valid_df = valid_df.append(valid_df_3, ignore_index=True)
valid_df = valid_df.sample(frac=1)

test_df = pd.DataFrame()
test_df = test_df.append(test_df_0, ignore_index=True)
test_df = test_df.append(test_df_1, ignore_index=True)
test_df = test_df.append(test_df_2, ignore_index=True)
test_df = test_df.append(test_df_3, ignore_index=True)
test_df = test_df.sample(frac=1)


print(len(data)==(len(train_df)+len(valid_df)+len(test_df)))
                  
train_df.to_csv('train.csv')
valid_df.to_csv('valid.csv')
test_df.to_csv('test.csv')

True

In [6]:
test_df.head()

                id  ... confidence_score
3956  1.450000e+18  ...            1.000
1803  1.450000e+18  ...            0.674
1976  1.450000e+18  ...            1.000
844   1.450000e+18  ...            1.000
434   1.450000e+18  ...            1.000

[5 rows x 8 columns]